<section
  class="section-tabs {{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="tabs"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;"
>
  <div class="wrapper inside-the-box">
    <div class="inside-the-box__title">Inside The Box</div>

    {% if product.title == 'Deeper Connect Air' %}
      {% render 'air-inside' %}
    {% endif %}

    {% if product.title == 'Deeper Connect Mini' %}
      {% render 'mini-inside' %}
    {% endif %}
    {% if product.title == 'Deeper Connect Pico Lite' %}
      {% render 'lite-inside' %}
    {% endif %}
    {% if product.title == 'Deeper Connect Air & Mini Set' %}
      {% render 'air-mini-inside' %}
    {% endif %}
  </div>
</section>

{{ 'inside-the-box.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Inside The Box",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ],
  "presets": [
    {
      "name": "Inside The Box",
      "category": "Product"
    }
  ]
}
{% endschema %}
