<section class="section-tabs {{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="tabs"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="wrapper section-padding" style="max-width: 1200px;">
    <div class="product-compare__title">
        Best Option For You
    </div>
    <div class="product-compare__body">
      <div class="product-compare__item">
        <a href="/products/deeper-connect-air">
          <img class="lazyload" alt="Deeper Connect Air"  src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Deeper_Connect_Air.png?v=1718082318" />
        </a>
        <div>
          <div class="title product-compare__title">Deeper Connect Air</div>
          <div class="desc product-compare__desc">Portable Travel Router</div>
        </div>
        <div class="desc price">₱ 9,300</div>
        <div class="desc spec">
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-core-icon_b20a0212-75c4-421d-bc8c-df3f3d56e2b9.png?v=1717819089" />
            <div>ARM64 4 Core</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-speed-icon_22a4f44d-f2eb-49d8-87e7-c5325dded6a0.png?v=1717819089" />
            <div>300 Mbps Max Bandwidth</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-memory-icon_4409ac83-e36c-4abd-b6a0-533d8d5174dc.png?v=1717819089" />
            <div>1 GB Memory</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-weight-icon_44694ff3-8f73-4b6b-bcec-656f310896a1.png?v=1717819089" />
            <div>32 g Weight</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-function-icon_6724d553-ec34-4752-b2e7-2b6a38c0d816.png?v=1717819089" />
            <div>DPN function system</div>
            <span>
              DPN</br > 
              Ad Blocking</br >
              Parental Control</br >
              Mining
            </span>
          </div>
        </div>
        <div class="product-compare__buy-now">
           <a href="/products/deeper-connect-air">Buy now <span style="color:#495AF5">></span></a>
        </div>
      </div>

      <div class="product-compare__item">
        <a href="/products/deeper-connect-mini-new">
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-compare-mini.jpg?v=1706685698" /> {% endcomment %}
          <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Deeper_Connect_Mini_e4ff1ed1-7c15-4763-af95-57c38c82bfde.png?v=1718082318" class="lazyload" alt="Deeper Connect Mini" />
        </a>
        <div>
          <div class="title product-compare__title">Deeper Connect Mini</div>
          <div class="desc product-compare__desc">Best Performance Web3 Router</div>
        </div>
        <div class="desc price">₱ 12,600</div>
        <div class="desc spec">
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-core-icon_b20a0212-75c4-421d-bc8c-df3f3d56e2b9.png?v=1717819089" />
            <div>ARM64 4 Core</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-speed-icon_22a4f44d-f2eb-49d8-87e7-c5325dded6a0.png?v=1717819089" />
            <div>1 Gbps Max Bandwidth </div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-memory-icon_4409ac83-e36c-4abd-b6a0-533d8d5174dc.png?v=1717819089" />
            <div>2 GB Memory</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-weight-icon_44694ff3-8f73-4b6b-bcec-656f310896a1.png?v=1717819089" />
            <div>172 g Weight</div>
          </div>
          <div class="spec-item">
            <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-function-icon_6724d553-ec34-4752-b2e7-2b6a38c0d816.png?v=1717819089" />
            <div>DPN function system</div>
            <span>
              DPN</br > 
              Ad Blocking</br >
              Parental Control</br >
              Mining
            </span>
          </div>
        </div>
        <div class="product-compare__buy-now">
          <a href="/products/deeper-connect-mini">Buy now<span style="color:#495AF5">></span></a>
        </div>
      </div>
        <div class="product-compare__item">
          <a href="/products/deeper-connect-pico-lite">
            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-compare-mini.jpg?v=1706685698" /> {% endcomment %}
            <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Deeper_Connect_Pico_Lite.png?v=1718081002" class="lazyload" alt="Deeper Connect Pico Lite" />
          </a>
          <div>
            <div class="title product-compare__title">Deeper Connect Pico Lite</div>
            <div class="desc product-compare__desc">Best Budget DPN Router</div>
          </div>
          <div class="desc price">₱ 5,500</div>
          <div class="desc spec">
            <div class="spec-item">
              <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-core-icon_b20a0212-75c4-421d-bc8c-df3f3d56e2b9.png?v=1717819089" />
              <div>ARM64 4 Core</div>
            </div>
            <div class="spec-item">
              <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-speed-icon_22a4f44d-f2eb-49d8-87e7-c5325dded6a0.png?v=1717819089" />
              <div>100 Mbps Max Bandwidth </div>
            </div>
            <div class="spec-item">
              <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-memory-icon_4409ac83-e36c-4abd-b6a0-533d8d5174dc.png?v=1717819089" />
              <div>1 GB Memory</div>
            </div>
            <div class="spec-item">
              <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-weight-icon_44694ff3-8f73-4b6b-bcec-656f310896a1.png?v=1717819089" />
              <div>32 g Weight</div>
            </div>
            <div class="spec-item">
              <img width="56px" height="56px" class="lazyload" alt="" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/product-function-icon_6724d553-ec34-4752-b2e7-2b6a38c0d816.png?v=1717819089" />
              <div>DPN function system</div>
              <span>
                DPN</br > 
                Ad Blocking</br >
                Parental Control</br >
                Mining
              </span>
            </div>
          </div>
          <div class="product-compare__buy-now">
            <a href="/products/deeper-connect-pico-lite">Buy now<span style="color:#495AF5">></span></a>
          </div>
        </div>
    </div>
  </div>
</section>

{{ 'product-compare.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Product Compare",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ],
  "presets": [
    {
      "name": "Product Compare",
      "category": "Product"
    }
  ]
}
{% endschema %}